body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #000000;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.abas {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao-aba {
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .4rem .8rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.5s all;
}

.botao-aba:hover {
  background-color: #c35b00;
}

.ativa {
  background-color: #eb7107;
  color: #fff;
}

.botao-converter {
  margin-top: 12px;
  padding: 4px 8px;
  background-color: #2e49e0;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.5s all;
}

.botao-converter:hover {
  transform: scale(125%);
}

.conversor-moedas {
  background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
  background-size: 75vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.conversor-luz {
  background-image: url("https://images.vexels.com/media/users/3/203408/isolated/preview/0f7ad5373bdbe3c3ea6defb24c74087d-ilustracao-do-sistema-solar.png");
  background-size: 70vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.conversor-temperatura {
  background-image: url("https://images.vexels.com/media/users/3/213501/isolated/preview/a17749ece9ce89f2e1a558a430f66032-roupa-a-temperatura-da-agua.png");
  background-size: 65vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.valor-convertido {
  color: #ffffff;
  font-size: 30px;
}

.esconder {
  display: none;
}